/* about.scss */

.aboutPage {
  height: 100vh; /* Set the height to the full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  .content {
    margin-bottom: 40px;

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 5px;
    }
  }

  .mySwiper {
    width: 100%;
    height: 400px;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 88%;
        height: 80%;
        object-fit: cover;
        margin-bottom: 40px;
        overflow-y: auto;
      }
    }
  }

  .swiper-pagination-bullet {
    background-color: #007bff;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #007bff;
  }
}
