@import "../../responsive.scss"; // Import the responsive SCSS file containing mixins

.layout {
  //   background-color: rebeccapurple; // Default background color
  height: 100vh; // Full viewport height
  max-width: 1366px; // Maximum width of the layout
  margin-left: auto; // Center horizontally
  margin-right: auto; // Center horizontally
  padding-left: 20px; // Padding on the left
  padding-right: 20px; // Padding on the right
  display: flex;
  flex-direction: column;

  // Background color changes for large screens (assumed breakpoint defined in responsive.scss)
  @include lg {
    // background-color: rgb(247, 210, 196); // Mustard yellow for large screens
    max-width: 1280px;
  }

  // Background color changes for medium screens (assumed breakpoint defined in responsive.scss)
  @include md {
    // background-color: rgb(186, 203, 234); // Blue for medium screens
    max-width: 768px;
  }

  // Background color changes for small screens (assumed breakpoint defined in responsive.scss)
  @include sm {
    // background-color: rgb(239, 200, 200); // Red for small screens
    max-width: 640px;
  }

  .content {
    // background-color: rebeccapurple;
    flex: 1;
  }
}
